<a href="../pages/perfilmedico.html" class="menu-item">
    <i class="fa-solid fa-house"></i>
    <span>Inicio</span>
</a>
<a href="../pages/calendario.html" class="menu-item">
    <i class="fa-solid fa-calendar"></i>
    <span>Calendario</span>
  </a>  
<div class="menu-item">
    <i class="fa-solid fa-person-dress"></i>
    <span>Pacientes</span>
</div>
<div class="menu-item">
    <i class="fa-solid fa-clipboard"></i>
    <span>Inventario</span>
</div>
<div class="menu-item">
    <i class="fa-solid fa-gear"></i>
    <span>Ajustes</span>
</div>
<a href="#" class="menu-item logout" onclick="abrirCerrarsesion()">
    <i class="fa-solid fa-right-from-bracket"></i>
    <span>Salir</span>
</a>
  
