.main-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p {
    margin-bottom: 10px;
}

.footer-icon {
    width: 15px;
    vertical-align: middle;
    margin-right: 5px;
}

.footer-icon.clock {
    width: 20px;
}

.schedule {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.copyright {
    margin-top: 20px;
    text-align: center;
}