.outer-navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-blanco);
    padding: 0 20px;
    height: 80px;
    box-shadow: var(--sombra-suave);
}

.hamburger{
    display: none;
}
.navbar-left {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo img {
    width: 100px; /* Tamaño reducido */
    height: auto;
    margin-right: 15px; /* Menor margen */
    transition: all 0.3s; /* Transición suave */
}

@media (max-width: 800px) {
    .logo img {
        width:40px;
        margin-right: 10px;
    }
}

.nav-links {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    flex: 1;
}

.nav-links :hover{
    background-color: var(--color-gris-claro);
}

.nav-links li {
    flex: 1;
    display: flex;
    align-items: stretch;
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: var(--color-negro);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    transition: all 0.3s ease;
    position: relative;
}

.nav-links a:hover {
    background-color: rgba(70, 70, 70, 0.1);
    box-shadow: inset 0 -3px 0 var(--color-rojo);
}

.nav-links a.active {
    background-color: rgba(238, 27, 44, 0.1);
    box-shadow: inset 0 -3px 0 var(--color-rojo);
    font-weight: 700;
}

/* Contenedor principal de auth */
.auth {
    display: flex;
    align-items: center;
    gap: 10px;
}

.apodo.active .nombre-perfil {
    box-shadow: inset 0 -3px 0 var(--color-rojo);
    font-weight: 700;
}

/* Enlace del apodo */
.auth .apodo {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    padding: 0;
}

/* Texto del nombre */
.auth .apodo .nombre-perfil {
    color: #ff0000;
    font-weight: bold;
    margin: 0;
    text-align: center;
    display: inline-block;
}

/* Imágenes de perfil */
.auth .btn_perfil {
    width: 40px;
    height: auto;
}

/* Anula estilos generales que puedan interferir */
.auth a {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.auth .register-button {
    color: var(--color-negro);
}

.auth .register-button:hover {
    background-color: rgba(70, 70, 70, 0.1);
}

.register-button:hover {
    background-color: var(--color-gris-claro);
}

.auth .login-button {
    background-color: var(--color-rojo);
    color: var(--color-blanco);
    margin-right: 15px;
}

.auth .login-button:hover {
    background-color: rgb(196, 0, 0, 1);
}

.background-opaque {
    position: fixed; /* Cubre toda la ventana */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Negro semitransparente (ajusta la opacidad) */
    z-index: 5; /* Se coloca entre el contenido principal y el menú */
    display: none; /* Oculta el fondo opaco inicialmente */
  }

@media (max-width: 800px) {

    .nav-links {
        position: fixed; /* Cambiar de absolute a fixed */
        top: 80px;
        left: -100%;
        width: 80%;
        height: calc(100vh - 80px) !important;
        background: white;
        flex-direction: column;
        transition: 0.5s;
        padding: 20px 0;
        z-index: 1000;
        font-size: 30px;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        width: 100%;
        margin: 10px 0;
    }

    .nav-links a {
        opacity: 1 !important;
        margin-top: 0 !important;
        padding: 15px !important;
    }

    .nav-links a:hover {
        background-color: #ffffff;
        box-shadow: inset 0 -3px 0 var(--color-rojo);
    }

    .nav-links a.active {
        background-color: var(--color-rojo);
        box-shadow: inset 0 -3px 0 var(--color-rojo);
        font-weight: 700;
        color: var(--color-blanco);
    }

    /*.auth{
        display: none;
    }*/

    .hamburger{
        display: block;
        cursor: pointer;
        margin-right: 30px;
    }

    .hamburger .line{
        width: 30px;
        height: 3px;
        background: #000;
        margin: 6px 0;
    }


    .nav-links.active{
        height: 500px;
    }

    .nav-links.active a{
        opacity: 1;
    }

    .background-opaque.active {
        display: block !important; /* Muestra el fondo opaco */
        transition: 0.5;
    }
}
