html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

main{
    height: 50vw;
    width: 100%;
}

.seccion-superior{
    display: flex;
}

#imagen-fondo{
    position: absolute;
    height: 50vw;
    width: 100%;
    display: block; /* Evita espacios en blanco debajo de la imagen */
    object-fit: cover; /* Recorta la imagen para llenar el espacio sin deformarla */
    z-index: 0;
}

.back_overlay{
    position: absolute;
    width: 100%;
    height: 50vw;
    background-color: rgba(0, 0, 0, 0.6); 
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    z-index: 0;
}

.contenedor-logo{
    position: relative;
    display: flex;
    height: 10%;
    width: 30%;
    margin-left: 35%;
    margin-bottom: -1%;
    margin-top: -1%;
    justify-content: center;
    z-index: 2;
}

#logo-header{
    height: 100%;
    width: 100%;
    max-width: 20vw;
}

.overlay {
    position: absolute;
    left: 5vw;
    width: 91vw;
    height: 35vw;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8); 
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    z-index: 2; 
}


.contenedor-registro{
    position: relative;
    z-index: 2;
    width: 89vw;
    height: 32vw;
    margin-top: -2%;
    margin-left: 1%;
    
}

#titulo{
    font-size: 2.4vw; /* Tamaño de texto relativo al ancho de la ventana */
    max-width: 100%; /* Evita que el contenido sobrepase el contenedor */
    word-wrap: break-word;
    margin-left: 30%;
    color: white;
    margin-top: -3%;
}

.tabla-registro{
    table-layout: fixed;
    width: 70%;
    height: 70%;
    border-collapse: separate;
    margin-left: 20%;
    margin-top: -1%;
}

.tabla-registro td {
    font-size: 1.6vw; /* Tamaño de texto relativo al ancho de la ventana */
    max-width: 100%; /* Evita que el contenido sobrepase el contenedor */
    word-wrap: break-word;
    color: white ;
}


.columna-izquierda {
    position: relative;
    width: 50%;
    padding: 0.5vw;
    justify-content: center;
}
  
.columna-derecha {
    position: relative;
    width: 50%;
    padding: 0.5vw;
}

.entrada_d{
    width: 6vw;
    height: 2vw;
    border-radius: 10px;
    padding-left: 1vw;
    font-size: 1vw; /* Tamaño de texto relativo al ancho de la ventana */
    max-width: 100%; /* Evita que el contenido sobrepase el contenedor */
    word-wrap: break-word;
}

.entrada_m{
    width: 6vw;
    height: 2vw;
    border-radius: 10px;
    padding-left: 1vw;
    font-size: 1vw; /* Tamaño de texto relativo al ancho de la ventana */
    max-width: 100%; /* Evita que el contenido sobrepase el contenedor */
    word-wrap: break-word;
}

.entrada_a{
    width: 8vw;
    height: 2vw;
    border-radius: 10px;
    padding-left: 1vw;
    font-size: 1vw; /* Tamaño de texto relativo al ancho de la ventana */
    max-width: 100%; /* Evita que el contenido sobrepase el contenedor */
    word-wrap: break-word;
}

.entrada1{
    border-radius: 10px;
    height: 2vw;
    width: 17vw;
    padding-left: 1vw;
    font-size: 1vw; /* Tamaño de texto relativo al ancho de la ventana */
    max-width: 100%; /* Evita que el contenido sobrepase el contenedor */
    word-wrap: break-word;
}

.entrada_lic {
    border-radius: 10px;
    height: 2vw;
    width: 25vw;
    padding-left: 1vw;
    font-size: 1vw; /* Tamaño de texto relativo al ancho de la ventana */
    max-width: 100%; /* Evita que el contenido sobrepase el contenedor */
    word-wrap: break-word;
}

.entrada_tratamiento{
    border-radius: 10px;
    height: 2vw;
    width: 54vw;
    padding-left: 1vw;
    font-size: 1vw; /* Tamaño de texto relativo al ancho de la ventana */
    max-width: 100%; /* Evita que el contenido sobrepase el contenedor */
    word-wrap: break-word;
}

.siguiente{
    border-radius: 10px;
    width: 100%; /* Reduce el ancho en pantallas pequeñas */
    max-width: 70%;
    height: 3vw;
    background-color: red;
    color: white;
    font-size: 1vw; /* Tamaño de texto relativo al ancho de la ventana */
    max-width: 100%; /* Evita que el contenido sobrepase el contenedor */
    word-wrap: break-word;
    cursor: pointer; /* Cambia el cursor a una mano indicando que se puede hacer clic */

}

.siguiente:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); /* Agrega sombra al contenedor */
    transition: box-shadow 0.2s ease;
}

.cancelar{
    border-radius: 10px;
    width: 100%; /* Reduce el ancho en pantallas pequeñas */
    max-width: 70%;
    height: 3vw;
    background-color: #848d94;
    color: white;
    font-size: 1vw; /* Tamaño de texto relativo al ancho de la ventana */
    max-width: 100%; /* Evita que el contenido sobrepase el contenedor */
    word-wrap: break-word;  
    cursor: pointer; /* Cambia el cursor a una mano indicando que se puede hacer clic */

}

.cancelar:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); /* Agrega sombra al contenedor */
    transition: box-shadow 0.2s ease;
}

#sexo{
    cursor: pointer; /* Cambia el cursor a una mano indicando que se puede hacer clic */
}

#footer{
    z-index: 100;
}

.invitado{
    font-size: 1vw !important; /* Tamaño de texto relativo al ancho de la ventana */
    max-width: 100%; /* Evita que el contenido sobrepase el contenedor */
    word-wrap: break-word;
}

.columna-izquierda3,
.columna-media3,
.columna-derecha3 {
    width: 33% !important; /* Distribución equitativa */
    padding: 0.5vw; /* Espaciado interno consistente */
    vertical-align: top; /* Alineación superior del contenido */
}

.error-mensaje {
    color: red;
    font-size: 0.8rem;
    display: none;
}