@import "./event-list.css";
@import "./event.css";
@import "./week-calendar.css";
@import "./dialog.css";


:root {
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;

    --line-height-xs: 1rem;
    --line-height-sm: 1.25rem;
    --line-height-md: 1.5rem;

    --color-blue-600: #2563eb;

    --color-gray-100: #f3f4f6;
    --color-gray-300: #d1d5db;
    --color-gray-500: #6b7280;

    --color-white: #ffffff;
    --color-black: #000000;
    
    --color-text-light: #f9fafb;
    --color-text-dark: #030712;

    --border-radius-md: 0.25rem;

    --duration-sm: 100ms;

    --box-shadow-md: 0 1px 3px 0 rbga(0, 0, 0, 0.1),
        0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

body {
    background-color: #F0EDED;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 0;
    padding: 20px;
    padding-left: 200px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    padding: 16px 24px;
    color: #000000;
    border-bottom: 1px solid #d1d5db; 
}


.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-grow: 1;
}

.calendar_button {
    width: 24px;
    height: 24px;
    border: none;
    color: #4e5052;
    display: grid;
    place-items: center;
    font-size: 1.25em;
    cursor: pointer;
    transition: .3s ease-in-out scale;
}

.calendar_button:hover,
.calendar_button:focus {
    scale: 1.05;
    color: #2d4562;
}

.btnAgendar {
    background-color: #6299E1;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.btnAgendar:hover {
    background-color: #2562b1;
}

/* Cerrar sesion */
.cerrarsesion {
    font-family: 'IBM Plex Sans', sans-serif;
    display: none;
    /* OCULTA por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1500;
    /* Asegúrate de que esté por ENCIMA de la sidebar */
}

.cerrarsesion__contenido {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1600;
}


#texto-salir {
    color: #8da4b7;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

#btnSalir,
#btnCancelar {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

#btnSalir {
    background-color: #8ebdf0;
    color: #fff;
}

#btnCancelar {
    background-color: #e74c3c;
    color: #fff;
}

#btnSalir:hover {
    background-color: #7da9d8;
}

#btnCancelar:hover {
    background-color: #c0392b;
}